html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    display: -webkit-flex;
    display: flex;
    height: 100%;
    flex-direction: column;
    font-family: 'Lora', serif;
    font-size: 21px;
    line-height: 142%;
}

h1 {
    font-size: 34px;
    text-align: center;
}

h2 {
    font-size: 24px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: #DDD;
    overflow: hidden;
}

nav li:first-child {
    float: left;
}

nav li p {
    display: block;
    text-align: center;
    padding: 14px 16px;
    margin: 0;
}

nav li {
    float: right;
}

nav li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#flex-container {
    display: -webkit-flex;
    display: flex;
    flex: 1;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    background-color: #FFF;
}

.sidebar  {
    min-width: 225px;
    max-width: 300px;
}

main {
    display: inline-block;
    width: 750px;
    flex-grow: 1;
}

article {
    width: 750px;
    margin: auto;
}

@media all and (max-width: 975px) {
    .sidebar {
        display: none;
    }

    main, article {
        width: 100%;
    }

    article {
        max-width: 750px;
    }
}

p {
    margin: 1.3em 0;
}

code {
    font-family: 'Inconsolata', monospace;
}

footer {
    background-color: #DDD;
    font-size: 75%;
}

footer p, footer a {
    padding: 0 16px;
    margin: 0;
    display: inline;
}
