/* Structure */
html, #main-flex {
    margin: 0;
    padding: 0;
    height: 100%;
}

#main-flex {
    display: flex;
    flex-direction: column;
    font-family: 'Lora', serif;
    font-size: 21px;
    line-height: 142%;
}

header, footer {
    background: #DDD;
    flex: none;
}

header, article, footer {
    display: flex;
    justify-content: center;
}

article {
    flex: 1 0 auto;
}

#head, #content, #foot {
    max-width: 750px;
    flex: 1 0 auto;
}

#head, #foot {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    list-style: none;
}

#head li:first-child, #foot li:first-child {
    margin-right: auto;
}

#head a, #foot a {
    display: block;
    padding: 14px 16px;
    text-decoration: none;
}

/* Styling */

h1 {
    font-size: 34px;
    text-align: center;
}

h2 {
    font-size: 24px;
}

code {
    font-family: 'Inconsolata', monospace;
}

p {
    margin: 1.3em 0;
}

footer {
    font-size: 80%;
}

/*
#toc {
    position: fixed;
    width: 225px;
    transform: translate(-225px);
}

@media all and (max-width: 985px) {
    .sidebar {
        display: none;
    }

    main, article {
        width: 100%;
    }

    article {
        max-width: 750px;
    }
}
*/
