html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

h1 {
    text-align: center;
}

#main-flex {
    display: flex;
    flex-direction: column;
    height: 100%;
}

header, footer {
    background: #DDD;
}

header, article, footer {
    display: flex;
    justify-content: center;
}

article {
    flex: 1;
}

#head, #content, #foot {
    width: 750px;
}

#head, #foot {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    list-style: none;
}


#head li:first-child, #foot li:first-child {
    margin-right: auto;
}

#head a, #foot a {
    display: block;
    padding: 14px 16px;
    text-decoration: none;
}


